<style>
    p{
        color: green;
        background-color: lightgrey;
    }
    /* this is internal style */
</style>

<p>signup works!</p>
<h2>sssssss</h2>
<h3>this is h3 tag</h3>
<button (click)="hide()">hide</button>
<button (click)="show()">show</button>

@if(x==20)
{
    <h1>value of x is 20</h1>
}
@else if(x==0)
{
    <h1>value of x is 0</h1>
}
@else{
    <h1>value of x is not 20</h1>
}

@switch(x)
{
    @case(20)
    {
        <h1>this is case 20</h1>
    }
    @case(0)
    {
        <h1>this is case 0</h1>
    }
    @default
    {
        <h1>this is default case</h1>
    }
}

@for (num of numbers; track num) {
  <p>{{ num }}</p>
}

@for (user of users; track user.id; let i=$index) {
    <p>{{ i }} -
   {{ user.name }}
}
<!--  -->

<p>Name: {{ employee.name }}</p>

@for (skill of employee.skills; track $index) {
  <p>Skill: {{ skill }}</p>
}

@for (p of products; track p.name) {
  <p>{{ p.name }} - ₹{{ p.price }}</p>
}

@for (row of matrix; track $index) {
  <div>
    @for (col of row; track $index) {
      <span>{{ col }} </span>
    }
  </div>
}
<!-- 

 @for (key of Object.keys(department); track key) {
  <p><b>{{ key.toUpperCase() }}</b></p>} -->
<!-- 
  @for (emp of department[key]; track $index) {
    <p>{{ emp }}</p>
  } -->


@for (c of companies; track c.name) {
  <p><b>{{ c.name }}</b></p>

  @for (job of c.jobs; track $index) {
    <p>- {{ job }}</p>
  }
}

